nav ul li {
	font-size: 2em;
	display: inline;
	margin-left: 50px;
}

a{
	text-decoration: none;
	font-family: "Oswald", sans-serif;	
}

a:hover{
	background-color: #ff00ff;
	border: 2px dotted;
}
body {
		font-size: 2em;
		font-family: 'Raleway', sans-serif;
		background-color: rgba(100, 187, 100, 0.4);
	}
	.rubrik{
		color: blue;
		font-family: 'Oswald', sans-serif;
	}
	#content {
		margin: 0 auto;
		width: 80%;
		background-color: #888;
	}

main {
	margin: 0 auto;
	width: 40%;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em;
}
.topimg{
	float: left;
	margin:20px;
	border: 2px dotted black;
}
.bottomimg{
	float: right;
}